{% extends 'base.html' %}

{% block content %}
<style>
    .thank-you-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        /* background-color: #f0f8ff; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    .thank-you-container h1 {
        font-size: 3rem;
        color: #2c3e50;
        margin-bottom: 2rem;
    }

    .thank-you-container a {
        padding: 0.8rem 1.5rem;
        background-color: #0ba5a5;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    .thank-you-container a:hover {
        background-color: #2989de;
    }
</style>

<div class="thank-you-container">
    <h1>Thanks for playing!</h1>
    <a href="{% url 'game:select_mode' %}"><b>Back to Home Page </b></a>
</div>
{% endblock %}
